.academic {
    background-color: var(--light-orange);
    color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
}

.academic__title {
    font-weight: 700;
    margin: 0;
    padding: 1rem 0rem;
    text-align: center;
}

.academic__courses__box {
    margin: 1rem 0px 1rem 0px;
}

.academic__courses__item__img {
    display: inline-block;
    width: 100%;
}

.academic__courses__item__img img {
    border-radius: 5px;
}

.academic__title {
    font-size: 1.4rem;
}

.academic__courses__item__title h4 {
    font-size: 1rem;
    margin: 8px 0;
}

.academic__courses__item__subtitle p {
    font-size: 0.9rem;
    margin: 0;
}