:root {
  --dark-gray: #2f2519;
  --medium-gray: #4a3f35;
  --light-orange: #fa7d09;
  --dark-orange: #ff4301;
  --whitish: #f5f5f5;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: var(--dark-gray);
  color: var(--whitish);
  font-family: "Raleway";
  line-height: 1;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

ol,
ul,
li {
  list-style: none;
}

a {
  color: var(--light-orange);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--dark-orange);
}
