/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
  /*Insira a variavel das outras cores inspecionando o modelo do figma*/
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --dark-gray: #2f2519;
  --medium-gray: #4a3f35;
  --light-orange: #fa7d09;
  --dark-orange: #ff4301;
  --whitish: #f5f5f5;
}

body {
  box-sizing: border-box;
  background-color: var(--dark-gray);
  color: var(--whitish);
  font-family: "Raleway";
  line-height: 1;
  margin: 0;
  padding: 0;
  width: 100vw;
}

ol,
ul,
li {
  list-style: none;
}

a {
  color: var(--light-orange);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--dark-orange);
}

.container {
  display: flex;
  flex-direction: column;
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso se sintam à vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu {
}

/*Sessão Title*/

section.title {
}

/*Sessão About*/

section.about {
}

/*Sessão Hobbies*/

section.hobbies {
}

/* Experiência Acadêmica*/

section.academic {
}

/* experiência*/

section.experience {
}

/*Contato*/

section.formcontato {
}

/*footeer*/

section.footer {
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {
  /* Menu */

  /*title*/

  /*Skills*/

  /*Hobbies*/

  /*Experiências acadêmicas*/

  /*Expeirência profissional*/
}

/*Mobile*/
@media (min-width: 425px) {
  /*Menu*/

  /*Titulo*/

  /*Sessão sobre*/

  /*Skills*/

  /*Hobbies*/

  /*Formação Acadêmica*/

  /*Experiência Profissional*/

  /*Contato*/

  /*Footer*/
}
