.menu__top {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.menu__title {
    font-size: 1rem;
    color: var(--light-orange);
    font-weight: bold;
}

.menu__email {
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
}

.menu__list {
    display: none;
}

.menu__list__item:hover, .menu__email:hover {
    transform: scale(1.2);
}