/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    margin: 0;
  }

  .menu__top,
  .title,
  .about,
  .skills,
  .hobbies,
  .academic,
  .experience {
    padding: 1rem 2rem;
  }

  .title__container {
    align-items: center;
  }

  .title__profile {
    float: right;
    margin-left: 2rem;
    width: 165px;
  }

  .title__network {
    gap: 2rem;
    justify-content: flex-start;
  }

  .skills,
  .hobbies {
    margin: 0;
  }

  .skills__box,
  .hobbies__box {
    width: 44%;
  }

  .skills__line,
  .hobbies__line {
    gap: 1rem;
    justify-content: center;
  }

  .academic {
    margin: 2rem 0;
  }

  .academic__courses {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 0px;
  }

  .academic__courses__box {
    margin: 0;
    width: 30%;
  }

  .academic__courses__list {
    padding: 0px;
  }

  .academic__courses__item__img img {
    width: 100%;
  }

  .experience,
  .formcontato {
    margin: 0;
    padding: 0 2rem;
  }

  .formcontato {
    margin: 2rem 0 0 0;
    padding: 2rem;
  }

  .formcontato__input,
  .formcontato__textarea {
    width: 98%;
  }

  .footer {
    width: 100vw;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .menu,
  .title,
  .about,
  .skills,
  .hobbies,
  .academic,
  .experience,
  .formcontato {
    padding: 0 9.5rem;
  }

  .menu__top {
    padding: 1rem 0;
    width: 100%;
  }

  .menu__nav {
    display: flex;
    align-items: center;
  }

  .menu__list {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
  }

  .menu__email {
    display: inline-block;
    font-size: 1rem;
  }

  .title__div {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 2rem 0;
  }

  .title__profile {
    margin: 0;
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: 368px;
  }

  .title__bio {
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 0;
    text-align: left;
  }

  .title__subsection {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .about {
    line-height: 1.5rem;
    padding-left: 9.5rem;
    padding-right: 33rem;
  }

  .about__container img {
    margin-bottom: 1rem;
  }

  .about__title {
    font-size: 2rem;
  }

  .about__paragraph {
    font-size: 1rem;
  }

  .hobbies {
    margin-bottom: 4rem;
  }

  .skills__box,
  .hobbies__box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 20%;
  }

  .skills__img img,
  .hobbies__img img {
    width: 80%;
  }

  .skills__title,
  .hobbies__title,
  .academic__title {
    font-size: 2rem;
  }

  .academic {
    margin: 0;
  }

  .academic__courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 2rem 0;
  }

  .academic__title {
    padding-top: 2rem;
  }

  .academic__courses {
    gap: 1rem;
    padding-top: 0;
  }

  .academic__courses__box {
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
  }

  .academic__courses__item__img img {
    width: 100%;
  }

  .academic__courses__item__title h4 {
    font-size: 1.4rem;
  }

  .academic__courses__item__subtitle p {
    font-size: 1rem;
  }

  .experience {
    margin: 0;
  }

  #experience__box--1,
  #experience__box--2 {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 3rem;
    width: 100%;
  }

  #experience__box--2 {
    flex-direction: row-reverse;
  }

  .experience__section__title {
    font-size: 2rem;
    margin-bottom: 0;
    padding: 2rem 0;
  }

  .experience__img {
    float: left;
    width: 70%;
  }

  .experience__button--demo,
  .experience__button--repo {
    font-size: 1rem;
  }

  .formcontato {
    margin-top: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .formcontato__title {
    font-size: 2rem;
    padding: 2rem 0 0.5rem 0;
    margin-bottom: 0;
  }

  .formcontato__label {
    margin-top: 1rem;
  }

  .formcontato__input,
  .formcontato__textarea {
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
  }

  .formcontato__textarea {
    height: 18vh;
  }

  .formcontato__text {
    background-image: url("../img/contact.webp");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin: 2rem 0;
    padding-left: 45%;
  }

  .formcontato__input--invalid {
    color: red;
  }

  .formcontato__botao {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .footer {
    width: 100%;
  }
}
